$breakpoint-tablet: 768px;
$break-point: 640px;
$bg: #d9c9b0;
$bg-alpha: rgba(85, 79, 69, 0);
$dark: rgb(100, 100, 100);
$dark-alpha: rgba(100, 100, 100, 0);
$light: rgb(220, 220, 200);
$light-alpha: rgba(200, 200, 200, 0);
$fire: rgb(145, 20, 20);
$fire-alpha: rgba(145, 20, 20, 0);
/* seagreen #2e8b57 */

$wind: rgb(46, 139, 87);
$wind-alpha: rgba(46, 139, 87, 0);
$water: rgb(20, 85, 145);
$water-alpha: rgba(20, 85, 145, 0);
$ice: rgb(20, 85, 145);
$ice-alpha: rgba(20, 85, 145, 0);
/* sienna #a0522d */

$earth: rgb(160, 82, 45);
$earth-alpha: rgba(160, 82, 45, 0);
$thunder:rgb(204, 194, 45);
$thunder-alpha:rgba(204, 194, 45, 0);