$breakpoint-tablet: 768px;
$break-point: 640px;
$bg: #d9c9b0;
$dark: rgb(100, 100, 100);
$dark-alpha: rgba(100, 100, 100, 0);

$light: rgb(100, 100, 100);
$light-alpha: rgba(100, 100, 100, 0);

$fire: rgb(145, 20, 20);
$fire-alpha: rgba(145, 20, 20, 0);

$wind: rgb(51, 138, 17);
$wind-alpha: rgba(51, 138, 17, 0);

$water: rgb(20, 85, 145);
$water-alpha: rgba(20, 85, 145, 0);

$ice: rgb(20, 85, 145);
$ice-alpha: rgba(20, 85, 145, 0);

$earth: rgb(185, 130, 9);
$earth-alpha: rgba(185, 130, 9, 0);

$thunder:rgb(255, 196, 0);
$thunder-alpha:rgba(255, 196, 0, 0);