$dark: rgb(100, 100, 100);
$light: rgb(100, 100, 100);
$fire: rgb(145, 20, 20);
$wind: rgb(51, 138, 17);
$water: rgb(20, 85, 145);
$ice: rgb(20, 85, 145);
$earth: rgb(185, 130, 9);
$thunder:rgb(255, 196, 0);
.character {
    position: relative;
    z-index: -1;
    height: 100vh;
    &#dark {
        background-color: $dark !important;
        color: rgb(255, 255, 255);
        .character__img:after {
            background: linear-gradient(bottom, $dark, $dark 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &#fire {
        background-color: rgb(145, 20, 20);
        .character__img:after {
            background: linear-gradient(bottom, $fire, $fire 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &#wind {
        background-color: rgb(51, 138, 17);
        .character__img:after {
            background: linear-gradient(bottom, $wind, $wind 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &#water {
        background-color: rgb(20, 85, 145);
        .character__img:after {
            background: linear-gradient(bottom, $water, $water 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &#ice {
        background-color: rgb(20, 85, 145);
        .character__img:after {
            background: linear-gradient(bottom, $ice, $ice 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &#earth {
        background-color: rgb(185, 130, 9);
        .character__img:after {
            background: linear-gradient(bottom, $earth, $earth 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &#thunder {
        color: black;
        background-color: rgb(255, 196, 0);
        .character__img:after {
            background: linear-gradient(bottom, $thunder, $thunder 20%, rgba(255, 255, 255, 0) 60%);
        }
    }
    &__img {
        width: 100%;
        max-width: 480px;
        position: absolute;
        right: 10%;
        z-index: -5;
        animation-duration: 0.5s;
        animation-name: LeftToRoight;
        img {
            position: relative;
            width: 100%;
            z-index: -4;
        }
        &:after {
            position: absolute;
            display: block;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -4;
        }
    }
    .specs {
        margin: 0 auto;
        margin: 0 10px;
        &__name {
            &_main {}
            &_kana {}
        }
        &__profile {}
        &__text {}
    }
}

@keyframes LeftToRoight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}