.character {
  position: relative;
  z-index: -1;
  height: 100%;
  color: white;
}

.character#dark {
  background-color: #646464 !important;
}

.character#dark .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #646464), color-stop(60%, rgba(100, 100, 100, 0)));
  background: linear-gradient(to top, #646464 30%, rgba(100, 100, 100, 0) 60%);
}

.character#fire {
  background-color: #911414;
}

.character#fire .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #911414), color-stop(60%, rgba(145, 20, 20, 0)));
  background: linear-gradient(to top, #911414 30%, rgba(145, 20, 20, 0) 60%);
}

.character#wind {
  background-color: #338a11;
}

.character#wind .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #338a11), color-stop(60%, rgba(51, 138, 17, 0)));
  background: linear-gradient(to top, #338a11 30%, rgba(51, 138, 17, 0) 60%);
}

.character#water {
  background-color: #145591;
}

.character#water .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #145591), color-stop(60%, rgba(20, 85, 145, 0)));
  background: linear-gradient(to top, #145591 30%, rgba(20, 85, 145, 0) 60%);
}

.character#ice {
  background-color: #145591;
}

.character#ice .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #145591), color-stop(60%, rgba(20, 85, 145, 0)));
  background: linear-gradient(to top, #145591 30%, rgba(20, 85, 145, 0) 60%);
}

.character#earth {
  background-color: #b98209;
}

.character#earth .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #b98209), color-stop(60%, rgba(185, 130, 9, 0)));
  background: linear-gradient(to top, #b98209 30%, rgba(185, 130, 9, 0) 60%);
}

.character#thunder {
  color: black;
  background-color: #ffc400;
}

.character#thunder .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ffc400), color-stop(60%, rgba(255, 196, 0, 0)));
  background: linear-gradient(to top, #ffc400 30%, rgba(255, 196, 0, 0) 60%);
}

.character > * {
  position: relative;
  top: -20%;
}

.character .img {
  top: 0;
}

.character .quote {
  font-size: 1.2em;
}

.character__img {
  width: 100%;
  min-width: 320px;
  position: relative;
  z-index: -5;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: LeftToRoight;
          animation-name: LeftToRoight;
  overflow: hidden;
}

.character__img img {
  position: relative;
  width: 100%;
  z-index: -4;
}

.character__img:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}

.character .specs {
  margin: 0 auto;
  margin: 0 10px;
  max-width: 450px;
}

.character .specs__name {
  border-bottom: solid 2px #fff;
  padding-bottom: 12px;
}

.character .specs__name-main {
  font-size: 1.8em;
  font-weight: bold;
}

.character .specs__profile {
  padding: 0 12px;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
}

.character .specs__profile-l {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.character .specs__profile-r {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.character .specs__profile dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.character .specs__profile dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.character .specs__profile dt::after {
  content: "";
  margin: 0 5px;
  border-top: 1px solid #ccc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.character .specs__profile dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 4px;
  min-width: 0;
}

.character .specs .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes LeftToRoight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes LeftToRoight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 720px) {
  .character__img {
    max-width: 720px;
  }
}

@media screen and (min-width: 900px) {
  .character {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .character__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 720px;
    height: 100%;
    overflow: hidden;
  }
  .character .specs {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 140px;
    top: 60px;
    height: 200px;
  }
  .character .text {
    width: 100%;
  }
  .character#dark {
    background-color: #646464 !important;
  }
  .character#dark .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #646464), color-stop(50%, rgba(100, 100, 100, 0)));
    background: linear-gradient(to top, #646464 15%, rgba(100, 100, 100, 0) 50%);
  }
  .character#fire {
    background-color: #911414;
  }
  .character#fire .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #911414), color-stop(50%, rgba(145, 20, 20, 0)));
    background: linear-gradient(to top, #911414 15%, rgba(145, 20, 20, 0) 50%);
  }
  .character#wind {
    background-color: #338a11;
  }
  .character#wind .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #338a11), color-stop(50%, rgba(51, 138, 17, 0)));
    background: linear-gradient(to top, #338a11 15%, rgba(51, 138, 17, 0) 50%);
  }
  .character#water {
    background-color: #145591;
  }
  .character#water .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #145591), color-stop(50%, rgba(20, 85, 145, 0)));
    background: linear-gradient(to top, #145591 15%, rgba(20, 85, 145, 0) 50%);
  }
  .character#ice {
    background-color: #145591;
  }
  .character#ice .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #145591), color-stop(50%, rgba(20, 85, 145, 0)));
    background: linear-gradient(to top, #145591 15%, rgba(20, 85, 145, 0) 50%);
  }
  .character#earth {
    background-color: #b98209;
  }
  .character#earth .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #b98209), color-stop(50%, rgba(185, 130, 9, 0)));
    background: linear-gradient(to top, #b98209 15%, rgba(185, 130, 9, 0) 50%);
  }
  .character#thunder {
    color: black;
    background-color: #ffc400;
  }
  .character#thunder .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #ffc400), color-stop(50%, rgba(255, 196, 0, 0)));
    background: linear-gradient(to top, #ffc400 15%, rgba(255, 196, 0, 0) 50%);
  }
}
/*# sourceMappingURL=character.css.map */