@charset "UTF-8";
/* seagreen #2e8b57 */
/* sienna #a0522d */
.character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #d9c9b0), color-stop(60%, rgba(85, 79, 69, 0)));
  background: linear-gradient(to top, #d9c9b0 30%, rgba(85, 79, 69, 0) 60%);
}

.dark {
  background-color: #646464 !important;
}

.dark header {
  background-color: rgba(0, 0, 0, 0);
}

.dark .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #646464), color-stop(60%, rgba(100, 100, 100, 0)));
  background: linear-gradient(to top, #646464 30%, rgba(100, 100, 100, 0) 60%);
}

.light {
  background-color: #dcdcc8;
}

.light header {
  background-color: rgba(0, 0, 0, 0);
}

.light .character {
  color: #c27d7d !important;
}

.light .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #dcdcc8), color-stop(60%, rgba(220, 220, 200, 0)));
  background: linear-gradient(to top, #dcdcc8 30%, rgba(220, 220, 200, 0) 60%);
}

.light .character .specs__name {
  border-bottom: solid 2px #000 !important;
}

.light .character .specs__profile dt::after {
  border-top: 1px solid #000 !important;
}

.fire {
  background-color: #911414;
}

.fire header {
  background-color: rgba(0, 0, 0, 0);
}

.fire .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #911414), color-stop(60%, rgba(145, 20, 20, 0)));
  background: linear-gradient(to top, #911414 30%, rgba(145, 20, 20, 0) 60%);
}

.wind {
  background-color: seagreen;
}

.wind header {
  background-color: rgba(0, 0, 0, 0);
}

.wind .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, seagreen), color-stop(60%, rgba(46, 139, 87, 0)));
  background: linear-gradient(to top, seagreen 30%, rgba(46, 139, 87, 0) 60%);
}

.water {
  background-color: #145591;
}

.water header {
  background-color: rgba(0, 0, 0, 0);
}

.water .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #145591), color-stop(60%, rgba(20, 85, 145, 0)));
  background: linear-gradient(to top, #145591 30%, rgba(20, 85, 145, 0) 60%);
}

.ice {
  background-color: #145591;
}

.ice header {
  background-color: rgba(0, 0, 0, 0);
}

.ice .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #145591), color-stop(60%, rgba(20, 85, 145, 0)));
  background: linear-gradient(to top, #145591 30%, rgba(20, 85, 145, 0) 60%);
}

.earth {
  background-color: sienna;
}

.earth header {
  background-color: rgba(0, 0, 0, 0);
}

.earth .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, sienna), color-stop(60%, rgba(160, 82, 45, 0)));
  background: linear-gradient(to top, sienna 30%, rgba(160, 82, 45, 0) 60%);
}

.thunder {
  background-color: #ccc22d;
}

.thunder header {
  background-color: rgba(0, 0, 0, 0);
}

.thunder .character {
  color: black !important;
}

.thunder .character__img:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ccc22d), color-stop(60%, rgba(204, 194, 45, 0)));
  background: linear-gradient(to top, #ccc22d 30%, rgba(204, 194, 45, 0) 60%);
}

.thunder .character .specs__name {
  border-bottom: solid 2px #000 !important;
}

.thunder .character .specs__profile dt::after {
  border-top: 1px solid #000 !important;
}

.character {
  color: white;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 100%;
}

.character > * {
  z-index: 1;
  position: relative;
  top: -100px;
  margin: 0 12px;
  padding: 12px;
}

.character .top {
  top: 0;
}

.character .img {
  top: 0;
  margin: 0;
  padding: 0;
  border-bottom: initial;
}

.character__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  min-height: 160px;
  position: relative;
  z-index: -5;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: LeftToRoight;
          animation-name: LeftToRoight;
  overflow: hidden;
}

.character__img img {
  position: relative;
  width: 100%;
  z-index: -4;
}

.character__img:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}

.character .specs {
  position: relative;
  top: -100px;
  margin: 0 auto;
  margin: 0 10px;
  min-width: 0;
  max-width: 600px;
  padding-bottom: 0;
}

.character .specs .quote {
  padding: 12px;
  font-size: 1rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-style: italic;
  font-weight: bold;
}

.character .specs__name {
  border-bottom: solid 2px #fff;
  padding-bottom: 12px;
}

.character .specs__name-main {
  font-size: 20px;
  font-size: 6.25vw;
  font-weight: bold;
}

.character .specs__profile {
  padding: 0 12px;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
}

.character .specs__profile-l {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.character .specs__profile-r {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.character .specs__profile dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.character .specs__profile dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.character .specs__profile dt::after {
  content: "";
  margin: 0 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.character .specs__profile dd {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 4px;
  min-width: 0;
}

.character .specs__profile dd.age {
  padding-top: 0.2rem;
  vertical-align: middle;
}

.character .text {
  color: transparent;
  word-break: break-all;
}

.character .talk-text {
  max-width: 600px;
}

.character .talk-text .talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.character .talk-text .talk.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.character .talk-text .talk.right .text {
  margin: 1.5em 1px 1.5em 0;
}

.character .talk-text .talk.right .text:before {
  left: initial;
  right: -24px;
  border: 12px solid transparent;
  border-left: 13px solid #FFF;
}

.character .talk-text .talk.right .text:after {
  left: initial;
  right: -30px;
  border: 14px solid transparent;
  border-left: 14px solid rgba(0, 0, 0, 0.3);
}

.character .talk-text .talk .icon {
  font-size: 0.75rem;
  text-align: center;
}

.character .talk-text .talk .icon img {
  height: 60px;
}

.character .talk-text .talk .text {
  width: auto;
  color: #555;
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 1px;
  padding: 7px 10px;
  font-size: 0.8rem;
  border: solid 3px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  background-color: #FFF;
}

.character .talk-text .talk .text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 13px solid #FFF;
  z-index: 2;
}

.character .talk-text .talk .text:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.character .picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  height: 135px;
}

.character .picture-container .title {
  position: absolute;
  top: -0.3em;
}

.character .picture-container .img-box {
  position: relative;
  margin: 0.5em auto;
}

.character .picture-container .img-box .img {
  max-width: 240px;
  height: 100%;
  background-color: white;
}

.character .picture-container:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0.5)), color-stop(85%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0));
  background-position: center;
  background-repeat: no-repeat;
}

/* For Character Group */
.characters {
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
}

.characters > * {
  margin: 20px 0;
}

.characters .title-label {
  max-width: 560px;
}

.characters .group .label {
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
}

.characters .group .label__text {
  margin-right: 30px;
}

.characters .group .label__text:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #d9c9b0 transparent transparent;
  border-width: 0 30px 2.2rem 0;
}

.characters .group .members {
  border: solid 6px rgba(255, 255, 255, 0.75);
}

.characters .group .members .member {
  margin: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 200px;
          flex: 1 200px;
}

.characters .group .members .member .name {
  text-align: left;
}

.characters .group .members .member .image {
  display: none;
}

.characters .group .members .member .profile::before {
  content: '';
  width: 100%;
  max-width: 200px;
  height: 4px;
  display: block;
  margin-right: auto;
  border-top: 1px dotted white;
}

.characters .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.characters .member {
  margin: 8px 16px;
  width: 100%;
}

.characters .member .name {
  display: inline-block;
  text-align: center;
}

.characters .member .image {
  position: relative;
}

.characters .member .image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.characters .member .profile {
  text-align: left !important;
}

.characters .member .profile.texted {
  margin-left: -12px;
  margin-top: 4px;
  text-align: center;
  border: dotted 3px rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 12px;
  border-radius: 12px;
  font-size: 0.75rem;
}

.list img {
  display: block;
  margin-right: auto;
}

@-webkit-keyframes LeftToRoight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes LeftToRoight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (min-width: 720px) {
  .character__img {
    max-width: 720px;
  }
  .specs__name-main {
    font-size: 1.8rem !important;
  }
  .member {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
  }
}

@media screen and (min-width: 940px) {
  .character {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .character .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .character .img {
    width: auto;
    max-width: 720px;
    min-height: 400px;
  }
  .character__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
  }
  .character .specs {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: auto;
    width: auto;
    min-width: 120px;
    height: auto;
    top: 60px;
  }
  .character .specs__name-main {
    font-size: 1.8rem;
  }
  .character > * {
    width: 100%;
  }
  .dark {
    background-color: #646464 !important;
  }
  .dark .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #646464), color-stop(50%, rgba(100, 100, 100, 0)));
    background: linear-gradient(to top, #646464 15%, rgba(100, 100, 100, 0) 50%);
  }
  .light {
    background-color: #dcdcc8;
  }
  .light .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #dcdcc8), color-stop(50%, rgba(220, 220, 200, 0)));
    background: linear-gradient(to top, #dcdcc8 15%, rgba(220, 220, 200, 0) 50%);
  }
  .fire {
    background-color: #911414;
  }
  .fire .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #911414), color-stop(50%, rgba(145, 20, 20, 0)));
    background: linear-gradient(to top, #911414 15%, rgba(145, 20, 20, 0) 50%);
  }
  .wind {
    background-color: seagreen;
  }
  .wind .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, seagreen), color-stop(50%, rgba(46, 139, 87, 0)));
    background: linear-gradient(to top, seagreen 15%, rgba(46, 139, 87, 0) 50%);
  }
  .water {
    background-color: #145591;
  }
  .water .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #145591), color-stop(50%, rgba(20, 85, 145, 0)));
    background: linear-gradient(to top, #145591 15%, rgba(20, 85, 145, 0) 50%);
  }
  .ice {
    background-color: #145591;
  }
  .ice .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #145591), color-stop(50%, rgba(20, 85, 145, 0)));
    background: linear-gradient(to top, #145591 15%, rgba(20, 85, 145, 0) 50%);
  }
  .earth {
    background-color: sienna;
  }
  .earth .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, sienna), color-stop(50%, rgba(160, 82, 45, 0)));
    background: linear-gradient(to top, sienna 15%, rgba(160, 82, 45, 0) 50%);
  }
  .thunder {
    background-color: #ccc22d;
  }
  .thunder .character__img:after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #ccc22d), color-stop(50%, rgba(204, 194, 45, 0)));
    background: linear-gradient(to top, #ccc22d 15%, rgba(204, 194, 45, 0) 50%);
  }
}
/*# sourceMappingURL=character.css.map */