@import "variables";
@function get_vw($size, $viewport:320) {
    $rate: 100 / $viewport;
    @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size:10) {
    font-size: $font_size * 1px;
    font-size: get_vw($font_size);
}

.character__img:after {
    background: linear-gradient(to top, $bg 30%, $bg-alpha 60%);
}

.dark {
    background-color: $dark !important;
    .character__img:after {
        background: linear-gradient(to top, $dark 30%, $dark-alpha 60%);
    }
}

.light {
    background-color: $light;
    .character {
        color: black !important;
        &__img:after {
            background: linear-gradient(to top, $light 30%, $light-alpha 60%);
        }
        .specs {
            &__name {
                border-bottom: solid 2px #000 !important;
            }
            &__profile dt::after {
                border-top: 1px solid #000 !important;
            }
        }
    }
}

.fire {
    background-color: $fire;
    .character__img:after {
        background: linear-gradient(to top, $fire 30%, $fire-alpha 60%);
    }
}

.wind {
    background-color: $wind;
    .character__img:after {
        background: linear-gradient(to top, $wind 30%, $wind-alpha 60%);
    }
}

.water {
    background-color: $water;
    .character__img:after {
        background: linear-gradient(to top, $water 30%, $water-alpha 60%);
    }
}

.ice {
    background-color: $ice;
    .character__img:after {
        background: linear-gradient(to top, $ice 30%, $ice-alpha 60%);
    }
}

.earth {
    background-color: $earth;
    .character__img:after {
        background: linear-gradient(to top, $earth 30%, $earth-alpha 60%);
    }
}

.thunder {
    background-color: $thunder;
    .character {
        color: black !important;
        &__img:after {
            background: linear-gradient(to top, $thunder 30%, $thunder-alpha 60%);
        }
        .specs {
            &__name {
                border-bottom: solid 2px #000 !important;
            }
            &__profile dt::after {
                border-top: 1px solid #000 !important;
            }
        }
    }
}

.character {
    color: rgb(255, 255, 255);
    margin: 0;
    position: relative;
    z-index: -1;
    height: 100%;
    >* {
        position: relative;
        top: -100px;
        margin: 0 12px;
        padding: 12px;
    }
    .top {
        top: 0;
    }
    .img {
        top: 0;
        margin: 0;
        padding: 0;
        border-bottom: initial;
    }
    &__img {
        flex: 1;
        min-width: 320px;
        min-height: 160px;
        position: relative;
        z-index: -5;
        animation-duration: 0.5s;
        animation-name: LeftToRoight;
        overflow: hidden;
        img {
            position: relative;
            width: 100%;
            z-index: -4;
        }
        &:after {
            position: absolute;
            display: block;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -4;
        }
    }
    .specs {
        position: relative;
        top: -100px;
        margin: 0 auto;
        margin: 0 10px; // flex: 1;
        min-width: 0;
        max-width: 600px;
        padding-bottom: 0;
        .quote {
            padding: 12px;
            font-size: 1rem;
            font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
            font-style: italic;
            font-weight: bold;
        }
        &__name {
            border-bottom: solid 2px #fff;
            padding-bottom: 12px;
            &-main {
                // font-size: 1.8rem;
                // font-size: 6vw;
                @include fz_vw(20);
                font-weight: bold;
            }
            &-kana {}
        }
        &__profile {
            padding: 0 12px;
            font-size: 0.8rem;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            white-space: nowrap;
            &-l {
                flex: 1;
            }
            &-r {
                flex: 1;
            }
            dl {
                display: flex;
            }
            dt {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: space-around;
                &::after {
                    content: "";
                    margin: 0 5px;
                    border-top: 1px solid rgba(255, 255, 255, 0.75);
                    flex: 1;
                }
            }
            dd {
                flex: 2;
                margin-left: 4px;
                min-width: 0;
                &.age {
                    padding-top: 0.2rem;
                    vertical-align: middle;
                }
            }
        }
    }
    .text {
        // TODO：かっこいい文章書く
        color: transparent;
        word-break: break-all;
    }
    .talk-text {
        max-width: 600px;
        .talk {
            display: flex;
            align-items: center;
            &.right {
                flex-direction: row-reverse;
                .text {
                    margin: 1.5em 1px 1.5em 0;
                    &:before {
                        left: initial;
                        right: -24px;
                        border: 12px solid transparent;
                        border-left: 13px solid #FFF;
                    }
                    &:after {
                        left: initial;
                        right: -30px;
                        border: 14px solid transparent;
                        border-left: 14px solid rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .icon {
                font-size: 0.75rem;
                text-align: center;
                img {
                    height: 60px;
                }
            }
            .text {
                width: auto;
                color: #555;
                position: relative;
                display: inline-block;
                margin: 1.5em 0 1.5em 1px;
                padding: 7px 10px;
                font-size: 0.8rem;
                border: solid 3px rgba(0, 0, 0, 0.3);
                box-sizing: border-box;
                background-clip: padding-box;
                background-color: #FFF;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -24px;
                    margin-top: -12px;
                    border: 12px solid transparent;
                    border-right: 13px solid #FFF;
                    z-index: 2;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    margin-top: -14px;
                    border: 14px solid transparent;
                    border-right: 14px solid rgba(0, 0, 0, 0.3);
                    z-index: 1;
                }
            }
        }
    }
    .picture {
        &-container {
            display: flex;
            margin-top: 32px;
            height: 135px;
            .title {
                position: absolute;
                top: -0.3em;
            }
            .img-box {
                position: relative;
                margin: 0.5em auto;
                .img {
                    max-width: 240px;
                    height: 100%;
                    background-color: white;
                }
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                text-align: center;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0));
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

/* For Character Group */

.characters {
    >* {
        margin: 20px 0;
    }
    .title-label {
        max-width: 560px;
    }
    font-size: 0.8rem;
    position: relative;
    z-index: -1;
    .group {
        .label {
            display: inline-block;
            position: relative;
            background: rgba(255, 255, 255, 0.75);
            padding: 0.5rem;
            &__text {
                margin-right: 30px;
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 0px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent $bg transparent transparent;
                    border-width: 0 30px 2.2rem 0;
                }
            }
        }
        .members {
            border: solid 6px rgba(255, 255, 255, 0.75);
            .member {
                margin: 16px;
                flex: 1 200px;
                .name {
                    text-align: left;
                }
                .image {
                    display: none; // TODO: 一時的
                }
            }
            .member .profile::before {
                content: '';
                width: 100%;
                max-width: 200px;
                height: 4px;
                display: block;
                margin-right: auto;
                border-top: 1px dotted white;
            }
        }
    }
    .members {
        display: flex;
        flex-wrap: wrap;
    }
    .member {
        margin: 8px 16px;
        width: 100%;
        .name {
            display: inline-block;
            text-align: center;
        }
        .image {
            position: relative;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%; // background-color: rgba(255, 255, 255, 0.75);
            }
        }
        .profile {
            text-align: left !important;
        }
    }
}

// INDEX用
.list {
    img {
        display: block;
        margin-right: auto;
    }
}

@keyframes LeftToRoight {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 720px) {
    .character__img {
        max-width: 720px;
    }
    .specs__name-main {
        font-size: 1.8rem !important;
    }
    .member {
        flex-basis: 240px;
    }
}

@media screen and (min-width: 940px) {
    .character {
        .top {
            display: flex;
        }
        display: flex;
        flex-wrap: wrap;
        height: auto;
        .img {
            width: auto;
            max-width: 720px;
            min-height: 400px; // TODO: 文字入れ調整
        }
        &__img {
            flex: 1;
            overflow: hidden;
            img {}
        }
        .specs {
            flex: 1;
            margin-right: auto;
            width: auto;
            min-width: 120px;
            height: auto;
            top: 60px;
            &__name-main {
                font-size: 1.8rem;
            }
        }
        >* {
            width: 100%;
        }
    }
    .dark {
        background-color: $dark !important;
        .character__img:after {
            background: linear-gradient(to top, $dark 15%, $dark-alpha 50%);
        }
    }
    .light {
        background-color: $light;
        .character__img:after {
            background: linear-gradient(to top, $light 15%, $light-alpha 50%);
        }
    }
    .fire {
        background-color: $fire;
        .character__img:after {
            background: linear-gradient(to top, $fire 15%, $fire-alpha 50%);
        }
    }
    .wind {
        background-color: $wind;
        .character__img:after {
            background: linear-gradient(to top, $wind 15%, $wind-alpha 50%);
        }
    }
    .water {
        background-color: $water;
        .character__img:after {
            background: linear-gradient(to top, $water 15%, $water-alpha 50%);
        }
    }
    .ice {
        background-color: $ice;
        .character__img:after {
            background: linear-gradient(to top, $ice 15%, $ice-alpha 50%);
        }
    }
    .earth {
        background-color: $earth;
        .character__img:after {
            background: linear-gradient(to top, $earth 15%, $earth-alpha 50%);
        }
    }
    .thunder {
        background-color: $thunder;
        .character__img:after {
            background: linear-gradient(to top, $thunder 15%, $thunder-alpha 50%);
        }
    }
}