.story {
    .title-label {
        padding-top: 16px;
    }
    .author {
        font-size: 0.75rem;
        margin-left: 32px;
    }
    .text {
        font-size: 0.8rem;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        padding: 16px;
        pre {
            white-space: pre-wrap;
            line-height: 0.9rem;
            font-size: 1rem;
        }
    }
}