@import "variables";
html {
    visibility: hidden;
}

.wf-active {
    visibility: visible;
}

html,
body {
    font-family: 'body'; // font-family: 'body', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    color: #351b04;
    background-color: #d9c9b0;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: -100;
}

a {
    text-decoration: none;
}

header {
    font-family: 'header'; // font-family: 'header', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    position: fixed;
    width: calc(100% - 30px);
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    a {
        text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff; // 下
    }
}

ul {
    margin: 0px;
    padding: 0px;
}

pre {
    line-height: 1.8rem;
}

/* HEADER */

nav {
    width: 100%;
}

.logo {
    font-size: 2rem;
}

nav ul {
    margin-right: 12px;
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding: 0 10px;
    text-align: center;
    list-style-type: none;
    min-width: 0; // background-color: #d9c9b0;
}

nav li+li {
    border-left: 1px solid #000;
    border-left: 1px solid #333;
}

.content-container {
    margin: 60px 20px 40px;
}

/* CONTENT */

.content {
    margin-top: 5em;
    /* For Menu */
}

section {
    padding: 20px;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

footer .footer_copyright {
    text-align: center;
    font-family: 'メイリオ', sans-serif;
}

@font-face {
    font-family: 'header';
    /* src: url('../font/Base\ 02.ttf'); */
    src: url('../font/MASTERPLAN___.ttf');
}

@font-face {
    font-family: 'body';
    src: url('../font/Vinta.ttf');
}

/* 共通Component */

.title-label {
    position: relative;
    padding-left: 25px;
    margin-bottom: 24px;
    &:before {
        position: absolute;
        content: "";
        bottom: -3px;
        left: 0;
        width: 0;
        height: 0;
        border: none;
        border-left: solid 15px transparent;
        border-bottom: solid 15px rgba(0, 0, 0, 0.75);
    }
    &:after {
        position: absolute;
        content: "";
        bottom: -3px;
        left: 10px;
        width: 100%;
        border-bottom: solid 3px rgba(0, 0, 0, 0.75);
    }
}

/* For Mobile */

/* HAMBURGER MENU */

@media screen and (max-width: $break-point) {
    header {
        a {
            text-shadow: initial;
        }
    }
    .menu-trigger-container {
        margin-left: auto;
        z-index: 1200;
    }
    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    .menu-trigger {
        position: relative;
        width: 37.5px;
        height: 33px;
    }
    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
    }
    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }
    .menu-trigger span:nth-of-type(2) {
        top: 15px;
    }
    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }
    .menu-trigger.active span:nth-of-type(1) {
        -webkit-transform: translateY(10px) rotate(-45deg);
        transform: translateY(10px) rotate(-45deg);
    }
    .menu-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }
    .menu-trigger.active span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-20px) rotate(45deg);
    }
    /* HAMBURGER MENU */
    nav {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        transform: translate(0px);
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000;
        background-color: rgba( 0, 0, 0, 0.5);
    }
    nav.open {
        transform: translate(100%);
    }
    nav ul {
        margin-top: 4em;
        flex-direction: column;
    }
    nav li {
        text-align: left;
        padding: 10px;
        font-size: 1.5rem;
        background-color: transparent;
    }
    nav li a {
        color: rgba(255, 255, 255, 0.75);
    }
    nav li+li {
        border: transparent;
    }
}