@charset "UTF-8";
/* seagreen #2e8b57 */
/* sienna #a0522d */
.world-list .title-label {
  font-size: 1.2rem;
}

.world-list .item {
  margin: 16px 0;
}

.world-list .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.world-list .item__image {
  mix-blend-mode: multiply;
}

.world-list .item__image img {
  height: 40px;
}

.world-list .item__name-main {
  font-size: 1rem;
  font-weight: bold;
}

.world-list .item__name-kana {
  font-size: 0.8rem;
}

.world-list .item .world-list .item:last-child {
  margin-bottom: 32px;
}

.fire {
  background-color: #911414 !important;
}

.world {
  position: relative;
  z-index: -1;
  font-size: 0.8rem;
}

.world .title {
  font-size: 1.2rem;
}

.world .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #d9c9b0;
}

.world .prof {
  white-space: nowrap;
}

.world .image {
  mix-blend-mode: multiply;
}

.world .quote {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

.world .specs {
  width: auto;
}

.world .specs dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.world .specs dt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 6rem;
}

.world .specs dt::after {
  content: "";
  margin: 0 5px;
  border-top: 1px solid #000;
  width: 20px;
}

.world .specs dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
  min-width: 0;
}

.world .characters {
  position: relative;
  z-index: -1;
}

.world .characters > * {
  margin: 20px 0;
}

.world .characters .group .label {
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
}

.world .characters .group .label__text {
  margin-right: 30px;
}

.world .characters .group .label__text:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #d9c9b0 transparent transparent;
  border-width: 0 30px 2.2rem 0;
}

.world .characters .group .members {
  border: solid 6px rgba(255, 255, 255, 0.75);
}

.world .characters .group .members .member {
  margin: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 200px;
          flex: 1 200px;
}

.world .characters .group .members .member .name {
  text-align: left;
}

.world .characters .group .members .member .image {
  display: none;
}

.world .characters .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.world .characters .member {
  margin: 8px 16px;
}

.world .characters .member .profile::before {
  content: '';
  width: 100%;
  max-width: 200px;
  height: 4px;
  display: block;
  margin-right: auto;
  border-top: 1px dotted white;
}

.world .characters .member .name {
  display: inline-block;
  text-align: center;
}

.world .characters .member .image {
  display: none;
  position: relative;
}

.world .characters .member .image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 640px) {
  br {
    display: none;
  }
}
/*# sourceMappingURL=world.css.map */